<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="main">
    <nav class="navbar navbar-expand">
      <button class="toggler-btn" type="button">
        <i class="lni lni-text-align-left"></i>
      </button>
    </nav>
    <main class="p-3">
      <div class="container-fluid">
        <div class="text-center">
          <h1 *ngIf="permiso == 1;">REGISTRAR USUARIO</h1>
          <h1 *ngIf="permiso == 2;">REGISTRAR ASISTENTE</h1>
          <div class="container mt-4">
            <hr />
            <form action="" [formGroup]="form" (ngSubmit)="submit()">
              <div class="row">
                <div class="col">
                  <!-- Matricula input -->
                  <div *ngIf="permiso==1 || permiso==2"data-mdb-input-init class="form-outline">
                    <input type="text" id="Matriculainput" class="form-control" formControlName="matricula"
                      placeholder="Matricula" />
                    <div *ngIf="form.controls['matricula'].touched && form.controls['matricula'].errors">
                      <small class="text-danger" *ngIf="form.controls['matricula'].errors['required']">La matricula es obligatoria.</small>
                      <small class="text-danger"
                        *ngIf="!form.controls['matricula'].errors['required'] && form.controls['matricula'].errors['pattern']">
                        La matricula no debe contener letras.</small>
                    </div>
                  </div>

                  <!--                  <div *ngIf="permiso==2"data-mdb-input-init class="form-outline mb-5">
                    <input type="text" id="Matriculainput" class="form-control" formControlName="matricula"
                      placeholder="Matricula" />
                    <div *ngIf="form.controls['matricula'].touched && form.controls['matricula'].errors">
                      <small *ngIf="form.controls['matricula'].errors['required']">La matricula es obligatoria.</small>
                      <small
                        *ngIf="!form.controls['matricula'].errors['required'] && form.controls['matricula'].errors['pattern']">
                        La matricula no debe contener letras.</small>
                    </div>
                  </div>-->
                </div>
                <div *ngIf="permiso == 1;" class="col">
                  <!-- Carrera input -->
                  <select class="form-select mb-4" aria-label="Seleccionar carrera" formControlName="idcarrera">
                    <option value="" selected>---Seleccionar carrera---</option>
                    <option *ngFor="let carrera of carreras" [value]="carrera.idcarreras">
                      {{ carrera.nombre }}
                    </option>
                  </select>

                  <div *ngIf="form.controls['idcarrera'].touched && form.controls['idcarrera'].errors">
                    <small class="text-danger" *ngIf="form.controls['idcarrera'].errors['required']">La carrera es obligatoria.</small>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <!-- Name input -->
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="nombreinput" class="form-control" formControlName="nombre"
                      placeholder="Nombre" />
                    <div *ngIf="form.controls['nombre'].touched && form.controls['nombre'].errors">
                      <div *ngIf="form.controls['nombre'].errors['required']"><small class="text-danger">El nombre es obligatorio.</small></div>
                      <div
                        *ngIf="!form.controls['nombre'].errors['required'] && form.controls['nombre'].errors['pattern']">
                          <small class="text-danger">El nombre solo debe contener letras.</small>
                      </div>
                      <div
                        *ngIf="!form.controls['nombre'].errors['required'] && !form.controls['nombre'].errors['pattern'] && form.controls['nombre'].errors['minlength']">
                        <small class="text-danger"> El nombre debe tener al menos 3 caracteres.</small>
                      </div>
                      <div
                        *ngIf="!form.controls['nombre'].errors['required'] && !form.controls['nombre'].errors['pattern'] && !form.controls['nombre'].errors['minlength'] && form.controls['nombre'].errors['maxlength']">
                        <small class="text-danger">El nombre no debe exceder los 20 caracteres.</small>
                      </div>
                    </div>



                    <!--<label class="form-label" for="nombreinput">Nombre</label>-->
                  </div>
                </div>
                <div class="col">
                  <!-- Name input -->
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="Apellidoinput" class="form-control" formControlName="apellido"
                      placeholder="Apellido" />
                    <div *ngIf="form.controls['apellido'].touched && form.controls['apellido'].errors">
                      <small class="text-danger" *ngIf="form.controls['apellido'].errors['required']">El apellido es obligatorio.</small>
                      <small class="text-danger"
                        *ngIf="!form.controls['apellido'].errors['required'] && form.controls['apellido'].errors['pattern']">
                        El apellido solo debe contener letras.</small>
                      <small class="text-danger"
                        *ngIf="!form.controls['apellido'].errors['required'] && !form.controls['apellido'].errors['pattern'] && form.controls['apellido'].errors['minlength']">
                        El apellido debe tener al menos 3 caracteres.</small>
                      <small class="text-danger"
                        *ngIf="!form.controls['apellido'].errors['required'] && !form.controls['apellido'].errors['pattern'] && !form.controls['apellido'].errors['minlength'] && form.controls['apellido'].errors['maxlength']">
                        El nombre no debe exceder los 20 caracteres.
                      </small>
                    </div>
                    <!--<label class="form-label" for="Apellidoinput">Apellido</label>-->
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col">
                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="form6Example6" class="form-control" formControlName="celular"
                      placeholder="Celular" />
                      <div *ngIf="form.controls['celular'].touched && form.controls['celular'].errors">
                        <small class="text-danger" *ngIf="form.controls['celular'].errors['required']">
                          El celular es obligatorio.
                        </small>
                        <small class="text-danger" *ngIf="form.controls['celular'].errors['pattern']">
                          El celular debe contener maximo 10 dígitos y no debe incluir letras.
                        </small>
                      </div>
                      
                    <!-- <label class="form-label" for="form6Example6">Telefono</label>-->
                  </div>
                </div>

                <div class="col">
                  <!-- Email input -->
                  <div data-mdb-input-init class="form-outline">
                    <input type="email" id="form8Example5" class="form-control" formControlName="email"
                      placeholder="Correo electronico" />
                    <div *ngIf="form.controls['email'].touched && form.controls['email'].errors">
                      <small class="text-danger" *ngIf="form.controls['email'].errors['required']">El correo electronico es
                        obligatorio.</small>
                      <small class="text-danger"
                        *ngIf="!form.controls['email'].errors['required'] && form.controls['email'].errors['email']">
                        Correo electronico invalido.</small>

                    </div>
                    <!--<label class="form-label" for="form8Example5">Email</label>-->
                  </div>
                </div>

              </div>

              <div *ngIf="permiso == 1;" class="row mt-3">
                <div class="col mt-3">
                  <select class="form-select mb-4" aria-label="Seleccionar permiso" formControlName="idpermiso">
                    <option value="" selected class="text-center">--- Seleccionar permiso ---</option>
                    <option class="text-center" *ngFor="let permiso of permisos" [value]="permiso.idpermiso">
                      {{ permiso.nombre }}
                    </option>
                  </select>
                </div>
                <div *ngIf="form.controls['idpermiso'].touched && form.controls['idpermiso'].errors">
                  <small class="text-danger" *ngIf="form.controls['idpermiso'].errors['required']">El permiso es obligatorio.</small>
                </div>
              </div>
              <hr />
              <button class="button-14" role="button" type="submit">Completar</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>