<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="main">
        <nav class="navbar navbar-expand">
            <button class="toggler-btn" type="button">
                <i class="lni lni-text-align-left"></i>
            </button>
        </nav>
        <main class="p-3">
            <div class="container-fluid">
                <div class="mb-3 text-center">
                    <h1>EDITAR</h1>

                    <div class="container mt-4">
                        <form action="" [formGroup]="ubicacionForm" (ngSubmit)="enviarFormulario()">
                            
                            <div class="card mb-4">
                                <div class="card-header fw-bold">DATOS DE LA UBICACIÓN</div>
                                <div class="card-body">
                              
                                    <div class="row mb-3">
                                        <div class="col md-6">
                                            <label class="form-label">Inmueble</label>
                                            <input type="text" class="form-control" placeholder="Nombre"
                                                formControlName="nombre" [(ngModel)]="ubicacionForm.value.nombre">
                                            <div
                                                *ngIf="ubicacionForm.controls['nombre'].touched && ubicacionForm.controls['nombre'].errors">
                                                <small *ngIf="ubicacionForm.controls['nombre'].errors['required']"
                                                    class="text-danger">Este campo es obligatorio.</small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['nombre'].errors['required'] && ubicacionForm.controls['nombre'].errors['pattern']"
                                                    class="text-danger">
                                                    Caracteres no permitidos.
                                                </small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['nombre'].errors['required'] && !ubicacionForm.controls['nombre'].errors['pattern'] && ubicacionForm.controls['nombre'].errors['minlength']"
                                                    class="text-danger">
                                                    Debe tener al menos 3 caracteres.
                                                </small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['nombre'].errors['required'] && !ubicacionForm.controls['nombre'].errors['pattern'] && !ubicacionForm.controls['nombre'].errors['minlength'] && ubicacionForm.controls['nombre'].errors['maxlength']"
                                                    class="text-danger">
                                                    No debe exceder los 20 caracteres.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col md-6">
                                            <label class="form-label">Dirección</label>
                                            <input type="text" class="form-control" formControlName="direccion" [(ngModel)]="ubicacionForm.value.direccion">
                                            <div
                                                *ngIf="ubicacionForm.controls['direccion'].touched && ubicacionForm.controls['direccion'].errors">
                                                <small *ngIf="ubicacionForm.controls['direccion'].errors['required']"
                                                    class="text-danger">Este campo es obligatorio.</small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['direccion'].errors['required'] && ubicacionForm.controls['direccion'].errors['pattern']"
                                                    class="text-danger">Caracteres no permitidos.</small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['direccion'].errors['required'] && !ubicacionForm.controls['direccion'].errors['pattern'] && ubicacionForm.controls['direccion'].errors['minlength']"
                                                    class="text-danger">
                                                    Debe tener al menos 10 caracteres.
                                                </small>

                                                <small
                                                    *ngIf="!ubicacionForm.controls['direccion'].errors['required'] && !ubicacionForm.controls['direccion'].errors['pattern'] && !ubicacionForm.controls['direccion'].errors['minlength'] && ubicacionForm.controls['direccion'].errors['maxlength']"
                                                    class="text-danger">
                                                    No debe exceder los 20 caracteres.
                                                </small>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">Colonia</label>
                                            <input type="text" class="form-control" formControlName="colonia" [(ngModel)]="ubicacionForm.value.colonia">
                                            <div
                                                *ngIf="ubicacionForm.controls['colonia'].touched && ubicacionForm.controls['colonia'].errors">
                                                <small *ngIf="ubicacionForm.controls['colonia'].errors['required']"
                                                    class="text-danger">Este campo es obligatorio.</small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['colonia'].errors['required'] && ubicacionForm.controls['colonia'].errors['pattern']"
                                                    class="text-danger">Caracteres no permitidos.</small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['colonia'].errors['required'] && !ubicacionForm.controls['colonia'].errors['pattern'] && ubicacionForm.controls['colonia'].errors['minlength']"
                                                    class="text-danger">
                                                    Debe tener al menos 5 caracteres.
                                                </small>

                                                <small
                                                    *ngIf="!ubicacionForm.controls['colonia'].errors['required'] && !ubicacionForm.controls['colonia'].errors['pattern'] && !ubicacionForm.controls['colonia'].errors['minlength'] && ubicacionForm.controls['colonia'].errors['maxlength']"
                                                    class="text-danger">
                                                    No debe exceder los 15 caracteres.
                                                </small>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">Contacto</label>
                                            <input type="text" class="form-control" formControlName="contacto" [(ngModel)]="ubicacionForm.value.contacto">
                                            <div
                                                *ngIf="ubicacionForm.controls['contacto'].touched && ubicacionForm.controls['contacto'].errors">
                                                <small *ngIf="ubicacionForm.controls['contacto'].errors['required']"
                                                    class="text-danger">
                                                    El celular es obligatorio.
                                                </small>
                                                <small *ngIf="ubicacionForm.controls['contacto'].errors['pattern']"
                                                    class="text-danger">
                                                    Caracteres no permitidos.
                                                </small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['contacto'].errors['required'] && !ubicacionForm.controls['contacto'].errors['pattern'] && ubicacionForm.controls['contacto'].errors['minlength']"
                                                    class="text-danger">
                                                    Debe tener al menos 10 caracteres.
                                                </small>
                                                <small
                                                    *ngIf="!ubicacionForm.controls['contacto'].errors['required'] && !ubicacionForm.controls['contacto'].errors['pattern'] && !ubicacionForm.controls['contacto'].errors['minlength'] && ubicacionForm.controls['contacto'].errors['maxlength']"
                                                    class="text-danger">
                                                    No debe exceder los 10 caracteres.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card mb-4">

                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <span class="fw-bold">LUGARES</span>
                                    <i class="lni lni-plus" role="button" (click)="addLugar()"></i>
                                    <i class="fas fa-folder-open" role="button" (click)="recuperarLugares()" ></i>
                                </div>
                                <div class="card-body" formArrayName="lugares_ubicacion">
                                    <div *ngFor="let lugar of lugares_ubicacionArray.controls; let i = index"
                                        [formGroupName]="i" class="row g-3 align-items-center mb-3">

                                        <div class="col-md-5" >
                                            <label class="form-label fw-bold">Lugar</label>
                                            <input type="text" class="form-control" formControlName="nombreLugar" [(ngModel)]="lugar.value.nombreLugar"
                                                placeholder="Nombre">
                                            <div
                                                *ngIf="lugar.get('nombreLugar')?.errors && lugar.get('nombreLugar')?.touched">
                                                <small *ngIf="lugar.get('nombreLugar')?.hasError('required')"
                                                    class="text-danger">
                                                    Este campo es obligatorio.
                                                </small>
                                                <small *ngIf="lugar.get('nombreLugar')?.hasError('pattern')"
                                                    class="text-danger">
                                                    Caracteres no permitidos.
                                                </small>
                                            </div>

                                        </div>
                                        <div class="col-md-5"  >
                                            <label class="form-label fw-bold">Capacidad</label>
                                            <input type="number" class="form-control text-center" 
                                                formControlName="capacidad" [(ngModel)]="lugar.value.capacidad" placeholder="0" min="1">
                                            <div
                                                *ngIf="lugar.get('capacidad')?.errors && lugar.get('capacidad')?.touched">
                                                <small *ngIf="lugar.get('capacidad')?.hasError('required')"
                                                    class="text-danger">
                                                    Este campo es obligatorio.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <button type="button" class="btn btn-danger btn-sm mt-4"
                                                (click)="removeLugar(i)">🗑️ </button>
                                        </div>

                                    </div>
                                </div>




                            </div>
                            <button class="button-14" role="button" type="submit">Completar</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>