



h1 {
    font-weight: 800;
}





/*.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
}*/
.main {
    min-height: 100vh;
    width: 100%;
    /*width: calc(100% - 264px); /* Calcula el ancho excluyendo el sidebar */
   /* margin-left: 264px; /* Espacio reservado para el sidebar */
    /*overflow-y: auto; /* Habilita desplazamiento si el contenido es largo */
    overflow: hidden;
    background-color: #f9f9f9;
}





.toggler-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.toggler-btn i {
    font-size: 1.75rem;
    color: #000;
    font-weight: 1000;
}

.navbar {
    padding: 1.15rem 1.5rem;
    border-bottom: 2px dashed #b3a8a8;
}











.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  



